/*
   * Reset box-sizing property
   */
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 62.5%;
  }

  html,
  body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    scroll-behavior: smooth;
  }

  body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Open sans', sans-serif;
  }

  h1, h2, h3 {
    /*
     * Reset top margins on titles that are first-child.
   */

    &:first-child {
      margin-top: 0;
    }
  }

  img {
    height: auto;
    max-width: 100%;

    @media print {
      /* Force display none on imagse when printing */
      display: none !important;
    }
  }

  body {
    font-size: 2rem;
  }

  h1 {
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 1rem;
  }

  form {
    padding: 3rem;
  }

  label {
    display: inline-block;
    width: 100%;
  }
